body{
	top: 0;
	margin: 0;
	padding: 0;
}

h1{
	color: blue;
	text-align: center;
	font-size: 40px;
	font-family: Comic Sans, Comic Sans MS, cursive;
}

.c1 ,.c2 ,.c3{
	position: relative;
	margin: 0.5%;
}

p{
	background-color: #eee;
	border: 2px solid green;
	padding: 1%;
    font-size: 18px;
    padding-top: 10%;
    margin:0;
    margin-bottom: 5%;
    font-family: Comic Sans, Comic Sans MS, cursive;
 }

.s1 ,.s2 ,.s3{
	position: absolute;
	top: 0;
	right:0;
	background-color:#d593d8;
	border: 2px solid green;
	padding: 1%;
    font-size: 24px;
    font-family: Comic Sans, Comic Sans MS, cursive;
}

.wrapper{
	width: 100%    /*for responsive design partitions*/
}


/****Medium Size Devices***/
@media(min-width: 768px) and (max-width: 991px){
	h1{
		color: black
	}
	.col-sm-6{
		float: left;
		width: 48%;
	}
	.col-sm-12{
		float: left;
		width: 99%;
	}
}

/****Large desktops****/
@media(min-width: 992px){
	.col-lg-4{
		float:left;
		width:32%;
	}

}

